.editor-area {
  height: 23%;
  left: 21.2%;
  position: fixed;
  top: 5.7%;
  width: 78%;
}

.results-area {
  height: 70%;
  left: 21.2%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 30.2%;
  width: 78.7%;

  .error-area {
    $error-msg-color: #f00;

    font-family: 'Roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin: 40px 20px;

    .error-msg {
      color: $error-msg-color;
    }

  }

}
