<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton
      type="button"
      label="New Connection"
      icon="fa-plus"
      (click)="displayNewConnModal = true;"></button>
  </div>
  <div class="ui-toolbar-group-right">
    <button pButton
      type="button"
      icon="fa-sign-out"
      (click)="onDisconnectClick()"
      [disabled]="!session"
      pTooltip="Disconnect"
      tooltipPosition="left"></button>
  </div>
</p-toolbar>
<p-tree [value]="tree"
  selectionMode="single"
  (onNodeExpand)="onNodeExpand($event)"
  [style]="treeStyles"
  [contextMenu]="cm"
  (onNodeContextMenuSelect)="onNodeCtxSelect($event)">
</p-tree>
<p-contextMenu #cm [model]="ctxMenuItems"></p-contextMenu>
<div class="editor-area">
  <query-editor></query-editor>
</div>
<p-dialog header="New Connection" [(visible)]="displayNewConnModal" modal="true">
    <new-connection-form (onSubmit)="onNewConnectionSubmit($event)"></new-connection-form>
</p-dialog>
<p-dialog header="Connect" [(visible)]="displayConnModal" modal="true">
    <connection-form [url]="connUrl" (onSubmit)="onConnectSubmit($event)"></connection-form>
</p-dialog>
<p-confirmDialog header="Delete Confirmation" icon="fa fa-trash" width="425"></p-confirmDialog>
<p-growl [value]="msgs"></p-growl>
