<p-toolbar>
  <div class="ui-toolbar-group-left">
      <button pButton
        type="button"
        label="New Connection"
        icon="fa-plus"
        (click)="displayConnectionModal = true;"></button>
  </div>
</p-toolbar>
<p-tree [value]="tree"
  selectionMode="single"
  (onNodeExpand)="onNodeExpand($event)"
  [style]="treeStyles"
  [contextMenu]="cm"
  (onNodeContextMenuSelect)="onNodeCtxSelect($event)">
</p-tree>
<p-contextMenu #cm [model]="ctxMenuItems"></p-contextMenu>
<p-dialog header="New Connection" [(visible)]="displayConnectionModal" modal="true">
    <new-connection-form (onSubmit)="onNewConnectionSubmit($event)"></new-connection-form>
</p-dialog>
<p-confirmDialog header="Delete Confirmation" icon="fa fa-trash" width="425"></p-confirmDialog>
<p-growl [value]="msgs"></p-growl>
